<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<string>1</string>
	<key>actionPriority</key>
	<string>2</string>
	<key>_auto</key>
	<string>3</string>
	<key>batteryRemain</key>
	<string>4</string>
	<key>belongPlanId</key>
	<string>5</string>
	<key>bindingState</key>
	<string>6</string>
	<key>bleSignal</key>
	<string>7</string>
	<key>boxState</key>
	<string>8</string>
	<key>cell</key>
	<string>9</string>
	<key>cellCover</key>
	<string>10</string>
	<key>ci</key>
	<string>11</string>
	<key>clientId</key>
	<string>12</string>
	<key>content</key>
	<string>13</string>
	<key>count</key>
	<string>14</string>
	<key>delayTime</key>
	<string>15</string>
	<key>_description</key>
	<string>16</string>
	<key>dosageFormUnit</key>
	<string>17</string>
	<key>drugname</key>
	<string>18</string>
	<key>flashStyle</key>
	<string>19</string>
	<key>gsmSignal</key>
	<string>20</string>
	<key>_id</key>
	<string>21</string>
	<key>lac</key>
	<string>22</string>
	<key>len</key>
	<string>23</string>
	<key>lightType</key>
	<string>24</string>
	<key>location</key>
	<string>25</string>
	<key>mcc</key>
	<string>26</string>
	<key>mnc</key>
	<string>27</string>
	<key>netWorkTimeout</key>
	<string>28</string>
	<key>oldPlanIds</key>
	<string>29</string>
	<key>opType</key>
	<string>30</string>
	<key>pillMeasure</key>
	<string>31</string>
	<key>planIds</key>
	<string>32</string>
	<key>plans</key>
	<string>33</string>
	<key>pos</key>
	<string>34</string>
	<key>position</key>
	<string>35</string>
	<key>positions</key>
	<string>36</string>
	<key>rang</key>
	<string>37</string>
	<key>recordId</key>
	<string>38</string>
	<key>recycle</key>
	<string>39</string>
	<key>shakeStyle</key>
	<string>40</string>
	<key>sountType</key>
	<string>41</string>
	<key>startedAt</key>
	<string>42</string>
	<key>state</key>
	<string>43</string>
	<key>stateList</key>
	<string>44</string>
	<key>systemVersion</key>
	<string>45</string>
	<key>takeTime</key>
	<string>46</string>
	<key>totalTime</key>
	<string>47</string>
	<key>ts</key>
	<string>48</string>
	<key>weight</key>
	<string>49</string>
	<key>dosageUnit</key>
	<string>50</string>
	<key>model</key>
	<string>51</string>
	<key>volume</key>
	<string>52</string>
	<key>oldPos</key>
	<string>53</string>
</dict>
</plist>
